<header class="header">
    <div class="header__container container">
        <a href="#" class="logo fz-36"> {FinsWeet} </a>
        <button class="borger__btn btn-reset" id="burger">
      <span></span><span></span><span></span>
    </button>
        <nav class="navbar">
            <a href="#" style="--i:0;" class="nav__link active">Home</a>
            <a href="#posts" style="--i:1;" class="nav__link">Posts</a>
            <a href="#" style="--i:2;" class="nav__link">Сategory</a>
            <a href="#" style="--i:3;" class="nav__link">List of Authors</a>
            <a href="#" style="--i:4;" class="nav__link">Subscribe</a>
        </nav>
    </div>
</header>
