<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">

      <h3 class="hero--slogan slogan">Posted on startup</h3>
      <h1 class="hero--title title">Step-by-step guide to choosing great font pairs</h1>
      <h3 class="hero--author slogan">By: <span class="multiple-text section--caption"></span> </h3>
      <p  class="hero--text text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident.</p>

      <button class="btn hero__btn sligan">Read More >
        <span></span>
      </button>

    </div>
  </div>
</section>
