<section class="order">
  <div class="order__container container">

    <form class="quest">
      <h2 class="section--caption">We answer the questions</h2>
      <p class="quest__text">We will answer all your questions by phone,
        or you can sign up for a free
        trial class</p>
      <div class="input__box">
        <input type="text" required>
        <label for=""> Username</label>
      </div>


      <div class="input__box">
        <input type="tel" required >
        <label for=""> Phone number</label>
      </div>
      <button class="btn category__btn">Ask a question >
        <span></span>
      </button>

      <label >
        <input type="checkbox" required>
        <span class="input--check"></span>
        I give my consent to <span class="security"> data processing</span>
      </label>

    </form>
  </div>
</section>
