<section class="post" id="posts">
  <div class="post__container container">
    <div class="post__featured">
      <h2 class="section--caption">Featured Post</h2>

      <div class="post--first main__post active">
        <div class="post__featured--wrapper">
          <picture>
            <source srcset="img/post.webp" type="image/webp">
            <img loading="lazy" src="img/post.png" class="post__image" width="670" height="350" alt="post_1">
          </picture>
          <h3 class="post--lead slogan"> Post №1 Lorem ipsum dolor sit amet.</h3>
          <p class="post--text text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Soluta, nisi.</p>
          <p class="post__author">By John Doe || May 23, 2022</p>

          <button class="btn post__btn">Read More >
            <span></span>
          </button>
        </div>
      </div>

      <div class="post--second main__post">
        <div class="post__featured--wrapper">
          <picture>
            <source srcset="img/post.webp" type="image/webp">
            <img loading="lazy" src="img/post.png" class="post__image" width="670" height="350" alt="post_1">
          </picture>
          <h3 class="post--lead slogan ">Post №2 Magni maxime quae magnam harum!</h3>
          <p class="post--text text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          <p class="post__author">Olivia Smith | 01/22/2012</p>

          <button class="btn post__btn">Read More >
            <span></span>
          </button>
        </div>
      </div>

      <div class="post--tree main__post">
        <div class="post__featured--wrapper">
          <picture>
            <source srcset="img/post.webp" type="image/webp">
            <img loading="lazy" src="img/post.png" class="post__image" width="670" height="350" alt="post_1">
          </picture>
          <h3 class="post--lead slogan ">Post №3 Rerum pariatur repellendus aliquid dolorem quis nam!</h3>
          <p class="post--text text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          <p class="post__author">Semuel Adam | 09/11/2022</p>

          <button class="btn post__btn">Read More >
            <span></span>
          </button>
        </div>
      </div>

      <div class="post--fore main__post">
        <div class="post__featured--wrapper">
          <picture>
            <source srcset="img/post.webp" type="image/webp">
            <img loading="lazy" src="img/post.png" class="post__image" width="670" height="350" alt="post_1">
          </picture>
          <h3 class="post--lead slogan "> Post №4 Maiores, sit beatae. Assumenda aperiam eveniet repellendus
            vitae, ipsa expedita quisquam ut?</h3>
          <p class="post--text text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Aliquid, iure provident! Dolore, deleniti.</p>

          <p class="post__author">By John Doe || May 23, 2022</p>

          <button class="btn post__btn">Read More >
            <span></span>
          </button>
        </div>
      </div>
    </div>

    <div class="post__all">
      <h2 class="section--caption">All Posts</h2>

      <div class="post__all--wrapper">

        <div class="post__item item__active">
          <p class="post__author">By John Doe || May 23, 2022</p>
          <p class="post--text text">Post №1 Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="post__item">
          <p class="post__author">Olivia Smith | 01/22/2012</p>
          <p class="post--text text">Post №2 Magni maxime quae magnam harum!</p>
        </div>
        <div class="post__item">
          <p class="post__author">Semuel Adam | 09/11/2022</p>
          <p class="post--text text">Post №3 Rerum pariatur repellendus aliquid dolorem quis nam!</p>
        </div>
        <div class="post__item">
          <p class="post__author">By John Doe || May 23, 2022</p>
          <p class="post--text text">Post №4 Maiores, sit beatae. Assumenda aperiam eveniet repellendus
            vitae, ipsa expedita quisquam ut?</p>
        </div>
      </div>
    </div>

  </div>
</section>
